body{
    background-color: brown;
}
.container{
width: 80%;
margin: auto;
display: flex;
flex-wrap: wrap;
gap: 0.5rem;
}
.container > div{
    display: flex;
    width: calc((100% /10 ) - 1rem);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border: dashed;
    color: antiquewhite;
}